@import "tailwindcss";

@theme {
  --color-background: oklch(95% 0 0);
  --color-foreground: oklch(15% 0 0);
  --color-border: oklch(90% 0 0);
  --color-ring: oklch(80% 0 0);

  --color-background-dark: oklch(20% 0 0);
  --color-foreground-dark: oklch(85% 0 0);
  --color-border-dark: oklch(20% 0 0);
  --color-ring-dark: oklch(30% 0 0);

  --color-accent: oklch(70% 0.18 50);
  --color-accent-dark: oklch(60% 0.2 270);
}

.dark {
  --color-background: var(--color-background-dark);
  --color-foreground: var(--color-foreground-dark);
  --color-border: var(--color-border-dark);
  --color-ring: var(--color-ring-dark);
  --color-accent: var(--color-accent-dark);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 4s step-start infinite;
}
